body {
    font-family: Arial, sans-serif;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    position: relative;
}

.gif-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.gif-background img {
    max-width: 50%;
    height: auto;

}

.inbox {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 400px;
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 1;

}

#button {
    padding: 10px 12px;

    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    margin-top: 15px;

}

#button:hover {
    background-color: #357ae8;
}

.message {
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    font-size: 14px;
    text-align: left;
    transition: opacity 1s ease, visibility 0s 1s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 75%;
    box-sizing: border-box;
    max-height: 300px;
    overflow-y: auto;

}

.message.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease;

}
